@tailwind base;
@tailwind components;
@tailwind utilities;

.translate-z-0 {
  transform: translateZ(0px);
}
* {
  scroll-behavior: smooth;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

@layer base {
  body {
    @apply overflow-hidden bg-secondary leading-relaxed;
  }
  .page {
    @apply h-screen w-full overflow-hidden;
  }
  .h1 {
    @apply mb-4 text-[35px] font-semibold leading-tight md:text-[60px] md:leading-[1.3];
  }
  .h2 {
    @apply mb-4 text-[35px] font-semibold leading-tight md:text-[54px] md:leading-[1.3];
  }
  .h3 {
    @apply mb-4 text-[30px] font-semibold leading-tight md:text-[48px] md:leading-[1.3];
  }
  p {
    @apply font-light leading-[1.8] text-white/60;
  }
  .btn,
  .input {
    @apply h-[52px];
  }
  .input {
    @apply h-[52px] w-full rounded-lg pl-6 capitalize;
  }
  .input,
  .textarea {
    @apply border border-white/20 bg-transparent outline-none placeholder:font-light placeholder:text-white/30 focus:ring-1 focus:ring-accent;
  }
  .textarea {
    @apply h-[180px] w-full resize-none rounded-lg p-6 capitalize;
  }
  .text-n-2 {
    --tw-text-opacity: 1;
    color: rgb(202 198 221 / var(--tw-text-opacity));
  }
}

@layer components {
  @keyframes aurora {
    0% {
      border-color: #78cdea; /* Blue Violet */
      box-shadow: 0 0 20px #78cdea;
    }
    25% {
      border-color: #68c4e3; /* Medium Purple */
      box-shadow: 0 0 20px #68c4e3;
    }
    50% {
      border-color: #7fffd4; /* Aquamarine */
      box-shadow: 0 0 20px #7fffd4;
    }
    75% {
      border-color: #1b7978; /* Medium Aquamarine */
      box-shadow: 0 0 20px #1b7978;
    }
    100% {
      border-color: #3b72fc; /* Blue Violet */
      box-shadow: 0 0 20px #3b72fc;
    }
  }
}
.aurora-button {
  animation: aurora 20s infinite;
}
.dark {
  color-scheme: dark;
}
